{% extends 'base.html' %}


{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<style>
</style>


<div class="bg-image back.png mt-9 container p-4">
<div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">register</h5>
            <forms class=" row container">
                <div class="col-sm-6">
                <label>first name</label>
                <input type="text" name="fname" class="form-control">
                </div>

                <div class="col-sm-6">
                <label>last name</label>
                <input type="text" name="lname"  class="form-control ">
                 </div>

                <div class="col-sm-6">
                <label>Email</label>
                <input type="email" name="mail" class="form-control">
                  </div>

                <div class="col-sm-6">
                <label>password</label>
                <input type="password" name="word" class=" form-control">
                </div>

                <div class="col-sm-6 p-3">
                <label>select country</label>
                <select>
                    <option>kenya</option>
                    <option>uganda</option>
                    <option>rwanda</option>
                </select>
                </div>

                <div class="col-sm-6 p-3">
                <button>register/sign up</button>
                </div>
            </forms>
         </div>
      </div>
    </div>
  </div>
        </div>


{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>





